{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./ui/src/components",
          "screens": "./ui/src/screens",
          "queries": "./ui/src/queries",
          "theme": "./ui/src/theme"
        }
      }
    ],
    "transform-class-properties",
    "transform-dev"
  ],
  "env": {
    "web": {
      "plugins": [
        "react-native-web"
      ]
    }
  }
}