{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./src/components",
          "screens": "./src/screens",
          "queries": "./src/queries",
          "theme": "./src/theme",
          "constants": "./src/constants",
          "colors": "./src/colors"
        }
      }
    ],
    "transform-class-properties",
    "transform-dev"
  ],
  "env": {
    "web": {
      "plugins": [
        "react-native-web"
      ]
    }
  }
}